<ul class="crises">
  <li
    *ngFor="let crisis of crises$ | async"
    [class.selected]="crisis.id === selectedId"
  >
    <a [routerLink]="[crisis.id]">
      <span class="badge">{{ crisis.id }}</span
      >{{ crisis.name }}
    </a>
  </li>
</ul>

<router-outlet></router-outlet>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
