<h2>HEROES</h2>
<div *ngIf="hero$ | async as hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <p>
    <button (click)="gotoHeroes(hero)">Back</button>
  </p>
</div>
